.head {
    background: #22685B;
    width: 100%;
    height: 224px;
    padding-top: 33px;
    
    h4 {
        margin-left: 130px;
        color: #FFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
}

.logo {
    width: 324px;
    height: 124px;
    border-radius: 22px;
    background: #FFF;
    font-size: 45px;
    color: #22685B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 115px;
}