.button {
    border: 2px solid #22685B;
    border-radius: 18px;
    padding: 13px 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #22685B;
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
}